.button-spinner-icon {
    g {
        stroke: currentColor;
    }

    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    top: 0.3rem;
    margin-left: 0.5rem;
    margin-top: -1rem;
    color: $color-x-light;
}
