<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form novalidate="">
    <fieldset class="form-group">
        <legend>When does your pet eat<span class="required">&nbsp;( required )</span><span class="visually-hidden">&nbsp;Please select at least one</span>
        </legend>
        <div tabindex="-1" style="outline: none;">
            <ul class="checkbox-container">
                <li>
                    <div class="checkbox-wrapper">
                        <input name="morning"
                               id="16a32b1a-746e-4b96-ac53-88d85bdad598"
                               type="checkbox">
                        <label for="16a32b1a-746e-4b96-ac53-88d85bdad598">
                            Morning
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox-wrapper">
                        <input name="noon"
                               id="16a32b1a-746e-4b96-ac53-88d85bdad598-noon"
                               type="checkbox">
                        <label for="16a32b1a-746e-4b96-ac53-88d85bdad598-noon">
                            Noon
                        </label>
                    </div>
                </li>
                <li>
                    <div class="checkbox-wrapper">
                        <input name="night"
                               id="16a32b1a-746e-4b96-ac53-88d85bdad598-night"
                               type="checkbox">
                        <label for="16a32b1a-746e-4b96-ac53-88d85bdad598-night">
                            Night
                        </label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="info-wrapper" aria-hidden="true"><span class="icon"></span><span>Please select at least one</span>
        </div>
    </fieldset>
</form>
</body>
</html>
