<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form novalidate="">
    <div class="form-group">
        <div class="field-wrapper">
            <label for="1bf08342-e063-4b6e-8768-1972fa03ee8e">
                Pet type<span aria-hidden="true"
                              class="required">
                            &nbsp;( required )
                        </span>
            </label>
            <input
            aria-required="true"
            id="1bf08342-e063-4b6e-8768-1972fa03ee8e"
            name="petName"
            type="text"
            value=""></div>
    </div>
    <button type="submit">Submit</button>
</form>
</body>
</html>
