$black: #002964;
$white: #fff;
$primary: #0047ab;
$secondary: #006aff;
$tone: #eff5fe;
$placeholder: #456fab;
$grey: #b8c6d9;
$error: #ab2010;

.App-logo {
    height: 80px;
}

.App-header {
    text-align: center;
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    margin-bottom: 1rem;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.main-panel {
    display: flex;
    flex-direction: row;
}

.notification {
    > div {
        border-style: solid;
        border-width: 2px;
        padding: 0.5rem;
        margin-top: 0.5rem;
    }

    .error {
        color: #b80000;
    }

    .warning {
        color: #ab4103;
    }

    .info {
        color: darkblue;
    }

    .success {
        color: green;
    }

    button {
        position: relative;
        float: right;
        top: -0.1rem;
    }

    svg {
        &.notification-icon {
            position: relative;
            top: 5px;
            margin-right: 0.5rem;
        }
    }
}

.button-spinner-icon {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    top: 0.3rem;
    margin-left: 0.5rem;
    margin-top: -1rem;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.language-container {
    display: flex;
    flex-direction: column;
}

.nav-panel {
    width: 30%;
    display: flex;
    flex-direction: column;

    button {
        margin-top: 0.5rem;
    }

    ul {
        list-style-type: none;
        padding: 0;

        a {
            display: block;
            margin-top: 0.5rem;
            padding: 0.5rem 0.5rem 0.5rem 0.5rem;
            border-style: solid;
            border-color: $primary;

            &:focus {
                background-color: $black;
                color: $white;
            }
        }
    }
}

.viewport {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5em;
}

body {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 0 none;
    outline: 0 none;
    margin-bottom: 1.5rem;
}

.fieldWrapper {
    position: relative;

    &::before {
        transition: transform 0.1s ease;
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 0.5rem;
        background-color: $primary;
        transform-origin: 50% 0;
        transform: scale(1, 0) perspective(150px) rotateX(-45deg);
    }

    &:hover::before,
    &:focus-within::before {
        transform: scale(1, 1) perspective(150px) rotateX(-45deg);
    }
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.fieldWrapper:hover label,
.fieldWrapper:focus-within label {
    color: $secondary;
}

input,
textarea {
    transition: background-color 0.1s ease, color 0.1s ease,
        border-color 0.1s ease;
    position: relative;
    border: 0.125rem solid $black;
    padding: 1rem 1.5rem;
    width: 20rem;
    color: $black;
    border-radius: 0.2rem;

    &::placeholder {
        color: $placeholder;
    }

    &:hover,
    &:focus {
        border-color: $primary;
        color: $black;
        outline: 0 none;
        box-shadow: none;
        background-color: $tone;
    }
}

.errorWrapper {
    align-self: stretch;
    margin-top: 0.5rem;
    color: $error;
}

.infoWrapper {
    align-self: stretch;
    margin-top: 0.5rem;
    color: darkblue;
}

.error-block {
    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            margin-top: 1rem;
        }

        a {
            color: $error;
        }
    }
}

button:not(.dismiss-button) {
    transition: background-color 0.1s ease, color 0.1s ease,
        border-color 0.1s ease, transform 0.1s ease;
    position: relative;
    padding: 1rem 1.5rem;
    background-color: $primary;
    border: 0 none;
    border-radius: 0.2rem;
    color: $white;
    font-weight: bold;
    transform-origin: 50% 50%;

    &:hover,
    &:focus {
        color: $white;
        background-color: $secondary;
        outline: none;
        box-shadow: none;
    }

    &:active {
        transform: scale(0.9);
    }

    &::after {
        transition: transform 0.1s ease;
        content: '';
        z-index: 1;
        position: absolute;
        left: 1.5rem;
        right: 1.5rem;
        bottom: 0.5rem;
        height: 1px;
        border-top: 0.125rem solid $white;
        transform-origin: 50% 0;
        transform: scaleX(0);
    }

    &:hover::after,
    &:focus::after {
        transform: scaleX(1);
    }
}

ul[role='tablist'] {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    padding-left: 1.5rem;
    list-style-type: none;
    margin-bottom: 0;
    padding-right: 10rem;

    &::after {
        content: '';
        z-index: 1;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
    }
}

[role='tab'] {
    transition: transform 0.1s ease;
    position: relative;
    display: block;
    margin-left: 0.5rem;
    text-decoration: none;
    transform-origin: 50% 100%;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1rem;
        background-color: $secondary;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:active {
        transform: scale(0.9);
    }
}

[role='tab'] span {
    transition: color 0.1s ease, border-color 0.1s ease, transform 0.1s ease;
    z-index: 1;
    position: relative;
    display: block;
    padding: 1rem 1.5rem;
    background-color: $white;
    border: 0.125rem solid $grey;
    border-bottom: 0 none;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    transform-origin: 50% 100%;
    text-decoration: none;
    color: $black;
    cursor: pointer;

    &::after {
        transition: transform 0.1s ease;
        content: '';
        z-index: 1;
        position: absolute;
        left: 1.5rem;
        right: 1.5rem;
        bottom: 0.5rem;
        height: 1px;
        border-top: 0.125rem solid $tone;
        transform-origin: 50% 0;
        transform: scaleX(0);
    }
}

[role='tab']:hover span,
[role='tab']:focus span {
    border-color: $secondary;
    background-color: $secondary;
    color: $white;
    transform: translateY(-0.5rem);
}

[role='tab']:hover span::after,
[role='tab']:focus span::after {
    transform: scaleX(1);
}

[role='tab'][aria-selected='true'] span {
    text-decoration: none;
    border-color: $black;
    font-weight: bold;
}

[role='tabpanel'] {
    border: 1px solid $black;

    & > div {
        padding: 1.5rem;
    }
}

[role='tabpanel'] * + * {
    margin-top: 0.75rem;
}

section[role='tabpanel']:focus {
    border: 2px solid dodgerblue;
}

[hidden] {
    display: none;
}
