.app-logo {
    height: 80px;
}

.app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    padding: 20px;
    color: white;
    margin-bottom: 1rem;
}

.app-header h1 {
    margin-bottom: 0.3em;
}

.app-title {
    font-size: 3.5em;
}

.app-intro {
    font-size: large;
}

.main-panel {
    display: flex;
    flex-direction: row;
}

.working-example {
    border: 1px solid black;
    padding: 1rem;
    margin-bottom: 1rem;
}

.pane-section {
    margin-right: 2em;
}

.skip-link {
    position: absolute !important;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: solid #0047ab;
    background-color: white;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.skip-link:focus {
    height: auto;
    width: auto;
    overflow: auto;
    clip: inherit;
}

.demo-spinner {
    color: #002964;
}

.demo-spinner g {
    stroke: currentColor;
}

.demo-spinner circle {
    fill: currentColor;
}

.language-container {
    display: flex;
    flex-direction: column;
}

.language-container button {
    width: 100%
}

.notification-container {
    display: flex;
    justify-content: space-between;
}

.notification-container button {
    margin-bottom: 0;
}

.spinner-button {
    margin-bottom: 0;
}

.nav-panel {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}
.nav-panel button {
    margin-top: 0.5rem;
}
.nav-panel ul {
    list-style-type: none;
    padding: 0;
}
.nav-panel ul a {
    display: block;
    margin-top: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: 1px solid #0047ab;
}
.nav-panel ul a:focus,
.nav-panel ul a:hover{
    background-color: #002964;
    color: #fff;
}

.nav-panel ul a[aria-current="page"]{
    background-color: rgba(0, 91, 255, 0.13);
    color:black;
}

.nav-panel ul a[aria-current="page"]:focus,
.nav-panel ul a[aria-current="page"]:hover
{
    background-color: #002964;
    color: #fff;
}

.viewport {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5em;
}
